# Drivers

This directory is reserved for the official `{{ support.cube_package_label }}` drivers.

At minimum, import these directories/files:

- `Drivers/CMSIS/Device/ST/{{ support.cmsis_device_dir }}/Include`
- `Drivers/CMSIS/Device/ST/{{ support.cmsis_device_dir }}/Source/Templates/{{ support.system_source }}`
- `Drivers/CMSIS/Device/ST/{{ support.cmsis_device_dir }}/Source/Templates/arm/{{ support.startup_source }}`
- `Drivers/{{ support.hal_driver_dir }}/Inc`
- `Drivers/{{ support.hal_driver_dir }}/Src`
